:root {
  --color-primary: #2f3640;
  --color-grey: #3c3f45;
  --color-light-grey: #808080;
  --color-orange: #f48915;
  --color-white: #ffff;
  --color-violet: #712a8a;
  --color-black: rgb(0, 0, 0);
}
