@use "./colors.scss";
// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./buttons/buttons.scss");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--color-primary);
}

.main-container {
  margin: 0 20px;
  @screen md {
    margin: 0 30px;
  }
  @screen lg {
    margin: 0 80px;
  }
}
