@use "../../utils/styles/mixins.scss";

.home {
  .slogan {
    margin: 40px 0px;
    text-transform: uppercase;
    @include mixins.text-format(2.5rem, normal, normal, 700);
    text-align: center;
    @screen md {
      @include mixins.text-format(4.5rem, normal, normal, 700);
      text-align: left;
    }
  }

  .transparent {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-white);
  }

  .full {
    color: var(--color-white);
  }

  .cummon-text {
    text-align: center;
    margin: auto 50px auto 50px;
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--color-white);
    @screen md {
      margin: auto;
      text-align: left;
    }
  }

  .stats-container {
    margin: 60px 0;
    text-align: center;

    @screen md {
      display: flex;
      text-align: left;
    }

    .stats {
      margin: 20px 0;
      @screen md {
        margin: 0 20px;
      }
      &-number {
        color: var(--color-white);
        font-size: 1.4rem;
        @screen md {
          font-size: 2rem;
        }
      }
      &-text {
        text-transform: uppercase;
        color: #9c9c9c;
      }
    }
  }

  .hero-button {
    display: flex;
    font-weight: 400 !important;
    gap: 1rem;
    justify-content: center;
    @screen md {
      justify-content: left;
    }
  }

  .programs-header {
    text-align: center;
    margin-top: 100px;
    color: var(--color-white);
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    gap: 0.5rem;
    text-transform: uppercase;
    display: flex;
    margin: 100px auto 40px auto;
    flex-direction: column;
    //margin-bottom: 40px;
    @screen md {
      flex-direction: row;
      display: flex;
      font-size: 2rem;
      gap: 4rem;
      justify-content: center;
    }
    @screen lg {
      font-size: 3rem;
      gap: 5rem;
    }
  }
}
