@use "./utils/styles/mixins.scss";

.session-card {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  min-height: 480px;
  text-decoration: none;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .session-card-title {
      color: var(--color-orange);
    }
  }

  &-img {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-title {
    @include mixins.text-format(1.5rem, normal, normal, 700);
    color: var(--color-primary);
    margin: 15px 0;
    text-transform: capitalize;
    min-height: 50px;
  }

  &-bodyPart {
    margin-bottom: 15px;
    &-title {
      @include mixins.text-format(1rem, normal, normal, 700);
      padding-bottom: 5px;
      color: var(--color-light-grey);
    }

    &-item {
      border: 2px solid;
      background-color: var(--color-orange);
      width: 5rem;
      text-align: center;
      color: var(--color-white);
      // text-transform: uppercase;
      @include mixins.text-format(0.9rem, normal, normal, 700);
      padding: 5px;
    }
  }

  &-time {
    color: var(--color-grey);
    margin-bottom: 20px;
    :first-child {
      padding-right: 15px;
    }
  }

  &-stars {
    display: flex;
    span {
      color: var(--color-grey);
      @include mixins.text-format(1rem, normal, normal, 700);
      margin-right: 15px;
    }
  }
}
