@use "../../../utils/styles/mixins.scss";

.exercice-card {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  min-height: 400px;

  &:hover {
    box-shadow: 3px 3px 3px 3px black;

    .title {
      color: var(--color-orange);
    }
  }

  .title {
    @include mixins.text-format(1.5rem, normal, normal, 700);
    color: var(--color-primary);
    padding-bottom: 15px;
  }
  .text {
    color: var(--color-light-grey);
    min-height: 105px;
  }
  .star-container {
    display: flex;
    margin: 15px 1px;
    .difficultyText {
      @include mixins.text-format(0.9rem, normal, normal, 700);
      color: var(--color-primary);
      margin-right: 20px;
    }
  }
}
